.write {
  padding-top: 50px;
}

.writeForm {
  padding: 0;
  position: relative;
}
.writeImage {
  margin-left: 150px;
  width: 70vw;
  height: 380px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.formGroup {
  margin-left: 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.writeIcon {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(126, 126, 126);
  cursor: pointer;
}
.writeInputbox {
  font-size: 30px;
  border: none;
  padding: 20px;
  outline: none;
  width: 70vw;
  /* font-family: "Lora",sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.writeText {
  font-size: 20px;
  font-weight: 300;
  height: 30vh;
  background: #fafafa;
}

.writeSubmitBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;
}
